In [4]:
import pandas as pd

tabela = pd.read_excel("MonitoramentodeClima.xlsx")
display(tabela)
tabela.info()
tabela.to_csv("MonitoramentoDeClimaPasseio.csv")

,ANDAR,TORRE 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,TORRE 2,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NOME,ip,mac adress,instalado,NOME,ip,mac adress,instalado
1,2 andar,NaN,NaN,NaN,NaN,CM-PAS_2T2,192.168.242.15,24:0A:C4:58:74:78,sim
2,3 andar,CM-PAS_3T1,192.168.242.13,F0:08:D1:D3:F6:8C,não,CM-PAS_3T2,192.168.243.21,8C:AA:B5:8C:B0:30,sim
3,4 andar,CM-PAS_4T1,192.168.242.24,84:CC:A8:5E:E0,não,NaN,NaN,NaN,NaN
4,5 andar,CM-PAS_5T1,192.168.241.38,24:0A:C4:58:7B:04,não,CM-PAS_5T2,192.168.242.41,24:0A:C4:58:BA:88,sim
5,6 andar,CM-PAS_6T1,192.168.241.33,24:0A:C4:59:24:B8,não,CM-PAS_6T2,192.168.242.46,8C:AA:B5:8C:B2:70,sim
6,7 andar,CM-PAS_7T1,192.168.245.94,AC:67:B2:3C:23:C0,não,CM-PAS_7T2,192.168.242.70,24:0A:C4:58:6F:10,sim
7,8 andar,CM-PAS_8T1,192.168.241.15,24:0A:C4:58:73:F4,não,CM-PAS_8T2,192.168.242.10,24:0A:C4:58:6A:90,sim
8,9 andar,CM-PAS_9T1,192.168.242.1,F0:08:D1:D3:52:C8,não,CM-PAS_9T2,192.168.243.23,7C:9E:BD:49:15:B0,sim
9,16 andar,CM-PAS_16T1,NaN,NaN,não,NaN,NaN,NaN,NaN
10,17 andar,CM-PAS_17T1,192.168.242.24,7C:9E:BD:47:B9:78,não,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ANDAR       10 non-null     object
 1   TORRE 1     10 non-null     object
 2   Unnamed: 2  9 non-null      object
 3   Unnamed: 3  9 non-null      object
 4   Unnamed: 4  10 non-null     object
 5   TORRE 2     8 non-null      object
 6   Unnamed: 6  8 non-null      object
 7   Unnamed: 7  8 non-null      object
 8   Unnamed: 8  8 non-null      object
dtypes: object(9)
memory usage: 920.0+ bytes

In [ ]:
import pandas as pd

novo = pd.read_excel("MonitoramentoDeClimaPasseio.csv")
display(novo)